<p id="notice"><%= notice %></p>
<%= image_tag @post.image.url(:medium) %>
<p>
  <strong>İSİM</strong>
  <%= @post.title %>
</p>

<p>
  <strong>MESAJ</strong>
  <%= @post.msg %>
</p>

<%= link_to 'DÜZENLE', edit_post_path(@post) , class:'btn btn-warning' %> |
<%= link_to 'GERİ', posts_path , class:'btn btn-info' %>
